.graph-icon {
    display: flex;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
    transition-duration: 200ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.graph-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.graph-chart-container {
    height: 70%;
    bottom: 0px;
    position: absolute;
    left: -9px;
    width: calc(100% + 18px);
}
.graph-chart-container div div {
    border-radius: 50px;
}

.graph-chart-container canvas {
    border-radius: 30px;
}